// About Page ===========================

.about-page-title{
	color: #fff;
	font-size: 3rem;
	font-weight: 700;
}

.page-template-about .entry-header{
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-container p{
	font-family: 'Merryweather', serif;
	font-size: 1.2rem;
	font-weight: 300;
	max-width: 800px;
	margin: 3rem auto;
}

.entry-content-about h2{
	color: #2f1339;
	font-size: 2.1rem;
	font-weight: 700;
	text-align: center;
}