.contact-page{
    .content-area{
        margin: 0;
    }
}
.page{
    .entry-title{
        font-weight: 700;
        font-size: 2.5rem;
        display: flex;
        justify-content: flex-start;
    }
    .entry-content h2{
        font-size: 2rem;
    }
}

// Contact Form

label{
    font-family: 'Novecentos';
    margin-bottom: .5rem;
    font-size: 1.1rem;
}

input[type=text], input[type=email], textarea{
    font-size: 1rem;
    font-family: 'Merriweather';
    color: #666;
    background-color: #f1f1f1;
    padding: .3rem;
    border-radius: 0;
}

textarea{
    height: 200px;
    width: 750px;
}

input[type=submit]{
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    background-color: #248A83;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    border: none;
    border-radius: 0;

}