.search-results{
    .site-content{
        margin-top: 3.2rem;
        a{
            text-decoration: none;
        }
        .content-area{
            padding: 3rem 5% 3rem 0;
            max-width: 75%;
        }
        .widget-area{
            max-width: 25%;
        }
        .page-header{
            border-bottom: 1px solid #e1e1e1;
            margin-bottom: 3rem;
            padding-bottom: 1rem;
        }
        .page-title{
            display: flex;
            margin-top: 0;
            margin-bottom: .5rem;
            padding: .25rem;
            font-size: 2.4rem;
        }
        .entry-title{
            font-size: 2.1rem;
            font-weight: 700;
            margin-bottom: 1.5rem;
        }
    }
    .hentry{
        margin-bottom: 4.5rem;
    }
    .search-pagination{
        border-top: 1px solid #e1e1e1;
        padding-top: 1.5rem;
        margin-bottom: 1.75rem;
    .page-numbers{
        font-family: 'Novecentos';
        color: #fff;
        background-color: #248A83;
        padding: .4rem .75rem;
    }
    }
}