// Single Product Pages ==============================

.single-product-title h1{
	color: #d99054;
	font-size: 2.4rem;
	font-weight: 700;
	margin-left: 3rem;

}

.single-product-entry-header{
	display: flex;
	justify-content: center;
	border-top: 1px solid #e1e1e1;
	padding-top: 3rem;
}

.type-product{
	display: flex;
}