//  Single Product Page


.taxonomy-product-type-wrapper{
    margin-top: 5rem;
        .entry-header{
            border: 1px solid #e1e1e1;
        }
        p{
            font-size: .8rem;
            margin: .5rem 0
        }
}